*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
flutter_rmoney/.dart_tool/
flutter_rmoney/.flutter-plugins
flutter_rmoney/.flutter-plugins-dependencies
flutter_rmoney/build/
flutter_rmoney/ios/Flutter/Generated.xcconfig
flutter_rmoney/ios/Flutter/flutter_export_environment.sh
flutter_rmoney/ios/Flutter/ephemeral/
